{% extends "base.html" %}

{% block title %}Achievements - Hangman{% endblock %}

{% block nav_achievements %}active-icon{% endblock %}

{% block extra_css %}
  <link rel="stylesheet" href="/static/css/achievements.css" />
{% endblock %}

{% block content %}

    <!-- main grid -->
    <div class="container py-4">
      <div class="achievement-grid row g-3"></div>
    </div>

    <!-- popup -->
    <div id="achievement-popup" class="achievement-popup hidden">
      <div class="popup-box">
        <!-- leaving this as the default icon for now -->
        <div class="popup-icon">🏆</div>
        <div class="popup-text">
          <div class="popup-title">ACHIEVEMENT UNLOCKED</div>
          <div class="popup-name" id="popup-name"></div>
        </div>
      </div>
    </div>

    <!-- JS -->
    <script src="/static/js/achievements.js"></script>

{% endblock %}
