{% extends "base.html" %}

{% block title %}Login - Hangman{% endblock %}

{% block nav_login %}active-icon{% endblock %}

{% block extra_css %}
  <link rel="stylesheet" href="/static/css/style.css" />
{% endblock %}

{% block content %}

    <main class="auth-page">
      <div class="auth-box">
        <h2>LOGIN</h2>

        <input id="loginEmail" type="email" placeholder="EMAIL" />
        <input id="loginPassword" type="password" placeholder="PASSWORD" />

        <button id="loginBtn">LOGIN</button>

        <p id="loginMessage" class="message"></p>

        <p class="switch-text">NO ACCOUNT? <a href="/register">REGISTER</a></p>
      </div>
    </main>

    <script src="/static/js/auth.js"></script>

{% endblock %}