{% extends "base.html" %}

{% block title %}Register - Hangman{% endblock %}

{% block nav_register %}active-icon{% endblock %}

{% block extra_css %}
  <link rel="stylesheet" href="/static/css/style.css" />
{% endblock %}

{% block content %}

    <main class="auth-page">
      <div class="auth-box">
        <h2>REGISTER</h2>

        <input id="registerUsername" type="text" placeholder="USERNAME" />
        <input id="registerEmail" type="email" placeholder="EMAIL" />
        <div class="password-field">
          <input id="registerPassword" type="password" placeholder="PASSWORD" />
          <button id="toggleRegisterPassword" type="button" class="password-eye">
            <i class="bi bi-eye-slash"></i>
          </button>
        </div>
        <input
          id="registerConfirmPassword"
          type="password"
          placeholder="CONFIRM PASSWORD"
        />

        <p class="password-note">
          Password is case-insensitive, must be at least 8 characters, and
          include letters and numbers.
        </p>

        <button id="registerBtn">REGISTER</button>

        <p id="registerMessage" class="message"></p>

        <p class="switch-text">
          ALREADY HAVE AN ACCOUNT? <a href="/login">LOGIN</a>
        </p>
      </div>
    </main>

    <script src="/static/js/auth.js"></script>

{% endblock %}
